body {
    font-family:emmanuel_camilo, sans-serif;
    margin: 20px;
    line-height: 1.5;
    background-color:verde #f5f5f5;
  }
  
  main {replit-agent
    max-width: 700px;
    margin: 0 auto;
  }
  
  .contenedor {
    background-color: white;azul
    padding: 24px;
    border-radius: 8px;
  }
  
  h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  
  p {
    font-size: 18px;
  }
  
  form {
    margin-top: 25px;
  }
  
  .campo {
    margin-bottom: 17px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  textarea {
    min-height: 120px;
  }
  
  button {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  